# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Exclusions spécifiques au projet
*.webm
*.srt
*.vtt
ressources/raw_videos/*
ressources/raw_videos_bin/*
ressources/thumbnails/*
ressources/video_traitees/*
*.sql
*.log
.buildpath
.project
*.zip
.settings*
lecteur
constantsPrivate.php
*.bak
ressources/stats_thumbnails.txt
*.psd
.idea
*.iml
