#liste_playlist {
	width : 275px;
	float : left;
}

#liste_playlist button {
	width : 47%;
	margin : 0 1% 8px 1%;
	font-size : 10px;
}

#createFolder div, #createPlaylist div {
	text-align : center;
	font-size : 16px;
	line-height : 46px;
}

#createFolder button, #createPlaylist button {
	float : right;
}


#contenu_playlist {
	margin : 32px 0 0 290px;
}

#contenu_playlist.fullWidth {
	margin : 15px 0 0 0;
}

.playlist_list {
	border : 1px solid #4297D7;
	border-radius : 7px;
	margin-bottom : 25px;
	background-color : white;
}


.playlist_list .playlist_list_title,
#playlist_folder_properties h2,
#playlist_video_list_order h2,
#playlist_video_list_rights h2  {
	background : url("jquery-ui-1.10.0.custom/css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5c9ccc;
	font-weight : bold;
	text-shadow : 0 0 2px white, 0 0 3px white;
	text-align : center;
	font-size : 16px;
	padding : 2px 0 4px;
}

.playlist_list_content {
	display : block;
	max-height : 250px;
	overflow-y : auto;
	overflow-x : hidden;
}

.playlist_list_ul {
	float : left; /* Pour l'effet de slide */
	width : 100%;
}

.playlist_list .playlist_list_title {
	cursor : pointer;
}

.playlist_list ul {
	list-style-type : none;
	padding : 0;
	margin : 7px 0 0 0;
}

.playlist_list ul li {
	margin : 0;
	float : left;
	width : 100%;
	background-color : white;
}

.playlist_list ul li.ui-draggable-dragging {
	z-index : 9999999;
	border : 1px solid #999;
	opacity : 0.5;
}

.playlist_list ul li a {
	float : left;
	width : 88%;
	padding : 0 0 0 10px;
	line-height : 26px;
	box-sizing: border-box;
	color : black;
	
}

.playlist_list ul li a:hover {
background-color : #FEE47B;
}

.playlist_list ul li.empty a {
	color : #777;
	font-style : italic;
	cursor : default;
}

.playlist_list ul li.empty a:hover {
	background-color : #ddd;
}

.playlist_list ul li a.playlist_list_edit {
	float : left;
	width : 12%;
	cursor : pointer;
	text-align : center;
	padding : 0;
}

.playlist_list ul li .playlist_creator {
	font-style : italic;
	font-size : 12px;
}


.playlist_list ul li img {
	vertical-align : middle;
}

.playlist_list ul li .nbVideos {
	font-size : 10px;
	font-weight : bold;
	
	opacity : 0.8;
	
	display : inline-block;
	min-width : 16px;
	min-height : 16px;
	line-height : 16px;
	border : 1px solid #3f9fff;
	border-radius : 20px;
	text-align : center;
	color : white;
	vertical-align : text-top;
	cursor : help;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f9fff+0,1381ef+44,036bd3+100 */
	background: #3f9fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #3f9fff 0%, #1381ef 44%, #036bd3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f9fff), color-stop(44%,#1381ef), color-stop(100%,#036bd3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f9fff 0%,#1381ef 44%,#036bd3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f9fff 0%,#1381ef 44%,#036bd3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f9fff 0%,#1381ef 44%,#036bd3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3f9fff 0%,#1381ef 44%,#036bd3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9fff', endColorstr='#036bd3',GradientType=0 ); /* IE6-9 */
		
}

.playlist_list ul li.empty .nbVideos {
	color : #444;
	border-color : #bbb;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1e1e1+0,d8d8d8+44,d1d1d1+100 */
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #d8d8d8 44%, #d1d1d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(44%,#d8d8d8), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#d8d8d8 44%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1e1e1 0%,#d8d8d8 44%,#d1d1d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1e1e1 0%,#d8d8d8 44%,#d1d1d1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1e1e1 0%,#d8d8d8 44%,#d1d1d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */


}




.playlist_list .clear {
	height : 7px;
}
















#playlist_lecteur {
	margin : auto;
	background : black;
	color : white;
	width : 950px;
	border : 1px solid #777;
}

#playlist_lecteur #playlist_lecteur_video #player {
	float : left;
	width : 640px;
}

#playlist_lecteur #playlist_lecteur_titre {
	width : 100%;
	padding : 2px 10px;
	font-weight : bold;
}

#playlist_lecteur #playlist_lecteur_video video,
#playlist_lecteur #playlist_lecteur_video ul {
	float : left;
}

#playlist_lecteur #playlist_lecteur_video ul {
	list-style-type : none;
	margin : 0;
	padding: 0;
	max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 310px;
}


#playlist_video_list_order #playlist_video_list li,
#playlist_lecteur #playlist_lecteur_video ul li {
	height : 50px;
	margin : 0;
}

#playlist_lecteur #playlist_lecteur_video ul li.selected {
	background-color : #555;
}

#playlist_lecteur #playlist_lecteur_video ul li a {
	float : left;
	width : 100%;
	height : 100%;
	/* line-height : 25px; */
	padding-left : 10px;
	color : white;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
}

#playlist_lecteur #playlist_lecteur_video ul li a:hover {
	background-color : #444;
}

#playlist_video_list_order #playlist_video_list li span.video_thumbnail img, 
#playlist_lecteur #playlist_lecteur_video ul li a img {
	height : 40px;
	width : 60px;
	margin-top : 5px;
	float : left;
}

#playlist_lecteur #playlist_lecteur_video ul li a .video_title {
	margin-left : 10px;
}

#playlist_lecteur #playlist_lecteur_video ul li a .video_event {
	margin-left : 10px;
	font-style : italic;
	font-size : 14px;
}






#playlist_lecteur .srt {
	background : url("images/background_srt.png");
    border-radius: 5px 5px 5px 5px;
    border : 1px #AAAAAA solid;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    padding: 2px 2%;
    position: absolute;
    text-align: center;
    width: 500px;
	margin-left : 50px;
	margin-top : 300px;
    z-index: 999999999;
}

#playerDialog .srt .text, #playlist_lecteur .srt .text {
    opacity: 0.6;
}





#playlist_lecteur_passes {
	width : 100%;
	height : 150px;
	background : white;
	color : black;
	overflow : auto;
}


#playlist_folder_properties, 
#playlist_video_list_order,
#playlist_video_list_rights {
	background : white;
	border : 1px solid #4297D7;
	border-radius : 10px;
	margin-bottom : 25px;
	box-shadow : 2px 2px 2px #aaa, 4px 4px 4px #aaa;
}

#playlist_folder_properties h2,
#playlist_video_list_order h2,
#playlist_video_list_rights h2 {
	margin : 0; // margin : 0 0 10px 0;
	padding-left : 15px;
	// font-size : 24px;
	text-align : left;
}

#playlist_video_list_order #playlist_video_list { 
	list-style-type: none; 
	padding: 0; 
	width: 60%; 
	margin : 7px 15px;
}

#playlist_video_list_order #playlist_video_list li { 
	margin: 0; 
	padding: 4px 20px 5px; 
	font-size: 16px; 
	line-height: 25px;
	cursor : move;
	border : 1px solid #777;
	background-color : white;
}
#playlist_video_list_order #playlist_video_list li span.ui-icon { 
	position : absolute; 
	margin : 17px 0 0 -17px; 
}

#playlist_video_list_order #playlist_video_list li span.video_title,
#playlist_video_list_order #playlist_video_list li span.video_evenement {
	position : absolute;
	margin-left : 15px;
}

#playlist_video_list_order #playlist_video_list li span.video_evenement { 
	font-size : 13px;
	font-style: italic;
}

#playlist_video_list_order #playlist_video_list li span.video_delete { 
	float : right;
}

#playlist_video_list_rights table {
	margin : 10px;
}

#playlist_video_list_rights table tr {
	border : 1px solid #777;
}

.playlist_rights_user {
	width : 200px;
}
.playlist_rights_check {
	text-align : center;
	width : 100px;
}


#playlist_folder_properties div {
	padding : 5px 10px;
} 



.playlist_action_bar {
background-color : #F5F5FA;
width : 100%;
height : 20px;
border-bottom : 1px solid #888;
margin-bottom : 15px;
}

.playlist_action_bar input {
background-color : white;
font-weight : bold;
margin : 0;
border : 1px solid #888;
cursor : pointer;
}

.playlist_action_bar input:hover {
background-color : #DDD;
-webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
transition: background-color 0.5s;
}


.bouton_retour {
	background-color : #54ABE6;
	padding: 3px 15px;
	text-align: center;
	text-shadow: 0 1px 0 #444444;	
	height : 25px;
	margin : 0 0 15px -16px;
	border-radius : 0 10px 10px 0;
	border : 1px solid #007dd0;
	width : 250px;
}

.bouton_retour:hover {
	background-color : #007dd0;
}

.bouton_retour a {
	text-decoration : none;
	color : #FFF;
	float : left;
	width : 90%;
	line-height : 25px;
}

.bouton_retour img {	
	max-height : 25px;
	float : left;
	left : 5px;
}

.bouton_retour a {
	color : #FFF;
	font-weight : bold;
}
